# Dependencies
node_modules/

# Python
venv/
__pycache__/
*.py[cod]

# Build
dist/
build/
.next/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3
.vercel
